#splashr_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  background: #000;
  display: none;
}
#splashr {
  position: absolute;
  top: 0px;
  z-index: 1002;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;
}
#splashr_close {
  color: #ddd;
  font-size: .8em;
}
#splashr-box {
  margin: 0 auto;
}
